{% extends "layout.html" %}
{% block content %}
<div class="container">
  <div class="row" style="{{add_style_if_ar('direction:rtl;text-align:right;')}}">
    <div class="col-12">
        <h1>{{_('Contact')}}</h1>

        <div class="breadcrumbs" >
            <ul class="d-flex flex-wrap align-items-center p-0 m-0">
                <li><a href="{{url_for('main.home', locale = request.args.get('locale'))}}">{{_('Home')}}</a></li>
                <li>{{_('Contact')}}</li>
            </ul>
        </div><!-- .breadcrumbs -->

    </div>
</div>
</div>

<img class="header-img"  style="position: absolute;top: 0;right: 0;max-width: 65%;height: auto;" src="static/images/contact-2.png" alt="">
</header><!-- .site-header -->




<main role="main" class="container mb-0 mt-0" >

<div class="contact-form card mt-5 pt-4 pb-4">
        <div class="container">
            <div class="row" style=" {{add_style_if_ar('direction: rtl;text-align: right;text-decoration: none;', 'direction: ltr;text-align: left;')}}">
                <div class="col-12">
                    <h2 class="text-center">{{_('Get in Touch')}}</h2>
                </div>

                <div class="col-12  col-md-4">
                    <input type="text" placeholder="{{_('name')}}">
                </div><!-- col-4 -->

                <div class="col-12 col-md-4">
                    <input type="email" placeholder="{{_('Email')}}">
                </div><!-- col-6 -->

                <div class="col-12 col-md-4">
                    <input type="text" placeholder="{{_('Subject')}}">
                </div>

                <div class="col-12">
                    <textarea name="name" rows="12" cols="80" placeholder="{{_('Message')}}" style="margin-top: 30px; margin-bottom: 0px; height: 176px;"></textarea>
                </div>
                <div class="col-12">
                <input type="file" id="myfile" name="myfile">
            </div>
                <div class="col-12">
                    <input type="submit" name="" value="{{_('Send Message')}}" class="button gradient-bg" style="width: -moz-available;width: -webkit-fill-available; ">
                </div>
            </div><!-- row -->
        </div>
    </div>


    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="contact-page-map">
                    <iframe id="gmap_canvas" src="https://maps.google.com/maps?q=amana clinic&amp;t=&amp;z=15&amp;ie=UTF8&amp;iwloc=&amp;output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                </div><!-- map -->
            </div>
        </div>
    </div>

    <section>
      <div class="container-fluid white lighten-4 mb-0 mt-0 ">
        <div class="container mb-0 mt-0">
  
          <div class="row mt-5 pt-3">
  
            <div class="col-lg-12 col-md-12 d-flex align-items-stretch">
              <!-- Booking card -->
  <div class="card booking-card card mt-2 mb-4" style="width: inherit;">
  
   
  
    <!-- Card content -->
    <div class="card-body" style="{{add_style_if_ar('direction: rtl;text-align: right;', 'direction: ltr;text-align: left;')}}">
      <form class="">
  
        <p class="h4 mb-4 text-center">{{_('Book an Appointment')}}</p>
    
    
        <label for="defaultSelect">{{_('Book an Appointment')}}</label>
        <div class="row">
        <div class="col-12  col-md-4">
        <select id="defaultSelect" class="browser-default custom-select mb-4 booking-form-field booking-form-field">
            <option value="" disabled="">{{_('Choose Service')}}</option>
            
            {%for service in Services%}
            <option value="{{service.id}}" selected="">{{service.title}}</option>
            {% endfor %}
            <option value="1" selected="">{{_('consultation')}}</option>
        </select>
      </div>
      <div class="col-12  col-md-4">
        <input type="text" id="textInput" class="form-control mb-4 booking-form-field" placeholder="{{_('name')}}">
  </div>
        <div class="col-12  col-md-4">
        <input type="text" id="textInput" class="form-control mb-4 booking-form-field" placeholder="{{_('Phone')}}">
  </div>
</div>
<div class="row">
  <div class="col-12  col-md-6">
  
        <input type="text" id="textInput" class="form-control mb-4 booking-form-field" placeholder="{{_('Email')}}">
      </div>
      <div class="col-12  col-md-6">
        <input type="date" id="start" name="trip-start"
         value="2018-07-22"
         min="2018-01-01" max="2018-12-31" class="form-control mb-4 booking-form-field" style="display: flex;">
        </div>
        </div>
        <textarea class="form-control rounded-0 booking-form-field" id="exampleFormControlTextarea2" rows="3" placeholder="{{_('Message')}}"></textarea>
    
        <input class="button gradient-bg button gradient-bg ml-3 mt-3 mb-2" type="submit" value="{{_('Book an Appointment')}}" style="width: -webkit-fill-available;">  
      </form>
    </div>
  
  </div>
  <!-- Booking card -->
              </div>
              
  
              <div class="col-lg-6 col-md-6 d-flex align-items-stretch">
  
                <!-- Booking card -->
    <div class="card booking-card mt-2 mb-4" style="width: -moz-available;width: -webkit-fill-available; " >
  
      <!-- Card image -->    
  
  
      <!-- Card content -->
      <div class="card-body" style="{{add_style_if_ar('direction: rtl;text-align: right;', 'direction: ltr;text-align: left;')}}">
  
        <!-- Title -->
        <h4 class="card-title font-weight-bold mb-4"><a>{{_('What we do At Amana Clinic')}}</a></h4>
        <!-- Data -->
  
        <!-- Text -->
        <p class="card-text">{{add_style_if_ar(info.Introduction, info.Introduction_en)}}</p>
        <footer class="entry-footer">
          <a href="#">{{_('read more')}}</a>
      </footer>
      </div>
  
    </div>
    <!-- Booking card -->
              </div>
  
              <div class="col-lg-6 col-md-6 d-flex align-items-stretch">
  
                <!-- Booking card -->
    <div class="card booking-card mt-2 mb-4 " style="width: -moz-available;width: -webkit-fill-available; ">
  
      <!-- Card image -->
  
  
      <!-- Card content -->
      <div class="card-body" style="{{add_style_if_ar('direction: rtl;text-align: right;', 'direction: ltr;text-align: left;')}}">
        <p class="h5 font-weight-bold mb-4">{{_('Opening hours')}}</p>
        <ul class="list-unstyled d-flex justify-content-start mb-0">
          <li style="font-size: 10pt;">{{_('Sunday - Thursday')}}</li>
          <li>
            <div class="chip ml-3">5:00pM</div>
          </li>
          <li>
            <div class="chip ml-0 mr-0">10:00AM</div>
          </li>
        </ul>
        <ul class="list-unstyled d-flex justify-content-start mb-0">
          <li style="font-size: 10pt;">{{_('Saturday')}}</li>
          <li>
            <div class="chip ml-3">9:00AM</div>
          </li>
          <li>
            <div class="chip ml-0 mr-0">7:00PM</div>
          </li>
        </ul>
        <ul class="list-unstyled d-flex justify-content-start mb-0">
          <li style="font-size: 10pt;">{{_('Friday')}}</li>
          <li>
            <div class="chip ml-3">{{_('CLOSED')}}</div>
          </li>
        </ul>
        <footer class="entry-footer">
          <a href="#">{{_('read more')}}</a>
      </footer>
      </div>
  
    </div>
    <!-- Booking card -->
              </div>
  
          </div>
        </div>
        </div>
        </section>


</main>


{% endblock content %}