{% extends "layout.html" %}
{% block content %}
<div class="container">
  <div class="row" style="{{add_style_if_ar('direction:rtl;text-align:right;')}}">
    <div class="col-12">
        <h1>{{_('Contact')}}</h1>

        <div class="breadcrumbs" >
            <ul class="d-flex flex-wrap align-items-center p-0 m-0">
                <li><a href="{{url_for('main.home', locale = request.args.get('locale'))}}">{{_('Home')}}</a></li>
                <li>{{_('Contact')}}</li>
            </ul>
        </div><!-- .breadcrumbs -->

    </div>
</div>
</div>

</header><!-- .site-header -->




<main role="main" class="container mb-0 mt-0" >
  {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="alert alert-{{ category }}">
        {{ message }}
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}

<form class="contact-form card mt-5 pt-4 pb-4" method="POST" action="" enctype="multipart/form-data">
  {{ contactform.hidden_tag() }}
        <div class="container">
          <fieldset class="form-group">
            <div class="row" style=" {{add_style_if_ar('direction: rtl;text-align: right;text-decoration: none;', 'direction: ltr;text-align: left;')}}">
                <div class="col-12">
                    <h2 class="text-center">{{_('Get in Touch')}}</h2>
                </div>

                <div class="col-12  col-md-4">
                  <div class="form-group">
                    {{ contactform.name.label(class="form-control-label") }}
                    {% if contactform.name.errors %}
                    <div class="outer-transition">
                    {{ contactform.name(class="form-control           form-control-lg is-invalid") }}
                  </div>
                  <div class="invalid-feedback">
                      {% for error in contactform.name.errors %}
                      <span style="display: block;">{{ error }}</span>
                      {% endfor %}
                  </div>
                  {% else %}
                  <div class="outer-transition">
                      {{ contactform.name(class="form-control form-control-lg mt-0") }}
                  </div>
                  {% endif %}
                    </div>
                </div><!-- col-4 -->

                <div class="col-12 col-md-4">
                  <div class="form-group">
                    {{ contactform.email.label(class="form-control-label") }}
                    {% if contactform.email.errors %}
                    <div class="outer-transition">
                    {{ contactform.email(class="form-control           form-control-lg is-invalid") }}
                  </div>
                  <div class="invalid-feedback">
                      {% for error in contactform.email.errors %}
                      <span style="display: block;">{{ error }}</span>
                      {% endfor %}
                  </div>
                  {% else %}
                  <div class="outer-transition">
                      {{ contactform.email(class="form-control form-control-lg mt-0") }}
                  </div>
                  {% endif %}
                    </div>
                </div><!-- col-6 -->

                <div class="col-12 col-md-4">
                  <div class="form-group">
                    {{ contactform.subject.label(class="form-control-label") }}
                    {% if contactform.subject.errors %}
                    <div class="outer-transition">
                    {{ contactform.subject(class="form-control           form-control-lg is-invalid") }}
                  </div>
                  <div class="invalid-feedback">
                      {% for error in contactform.subject.errors %}
                      <span style="display: block;">{{ error }}</span>
                      {% endfor %}
                  </div>
                  {% else %}
                  <div class="outer-transition">
                      {{ contactform.subject(class="form-control form-control-lg mt-0") }}
                  </div>
                  {% endif %}
                    </div>
                </div>

                <div class="col-12">
                  <div class="form-group">
                    {{ contactform.message.label(class="form-control-label") }}
                    {% if contactform.message.errors %}
                    <div class="outer-transition">
                    {{ contactform.message(class="form-control           form-control-lg is-invalid") }}
                  </div>
                  <div class="invalid-feedback">
                      {% for error in contactform.message.errors %}
                      <span style="display: block;">{{ error }}</span>
                      {% endfor %}
                  </div>
                  {% else %}
                  <div class="">
                      {{ contactform.message(class="form-control form-control-lg mt-0" , style="height: 80px;") }}
                  </div>
                  {% endif %}
                    </div>                </div>
                    <div class="col-12">
                  <div class="form-group">
                    {{ contactform.image.label() }}
                    <div class="">
                    {{ contactform.image(class="contactform-control", style="padding-top: 3px;") }}
                    
                </div>
                    {% if contactform.image.errors %}
                        {% for error in contactform.image.errors %}
                            <span class="text-danger">{{ error }}</span>
                        {% endfor %}
                    {% endif %}
                </div>           
                    </div>
                <div class="col-12">
                  {{ contactform.submit(class="button gradient-bg", style="width: -moz-available;width: -webkit-fill-available; ", type="submit") }}
                </div>
            </div><!-- row -->
          </fieldset>
        </div>
        {{ contactform.csrf_token }}
    </form>


    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="contact-page-map">
                    <iframe id="gmap_canvas" src="https://maps.google.com/maps?q=عيادة+أمانة+التخصصية+-+علاج+البواسير+بالليزر&amp;t=&amp;z=15&amp;ie=UTF8&amp;iwloc=&amp;output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                </div><!-- map -->
            </div>
        </div>
    </div>

    <section>
      <div class="container-fluid white lighten-4 mb-0 mt-0 ">
  
          <div class="row mt-5 pt-3" id= "booking">
  
            <div class="col-lg-12 col-md-12 d-flex align-items-stretch">
              <!-- Booking card -->
  <div class="card booking-card card mt-2 mb-4"   style="width: inherit;">
  
   
  
    <!-- Card content -->
    <div class="card-body" style="{{add_style_if_ar('direction: rtl;text-align: right;', 'direction: ltr;text-align: left;')}}">
      <form class="" method="POST" action="" enctype="multipart/form-data">
        {{ bookingform.hidden_tag() }}
        <fieldset class="form-group">
        <p class="h4 mb-4 text-center">{{_('Book an Appointment')}}</p>
    
    
        
        <div class="row">
      <div class="col-12  col-md-6">
                          <div class="form-group">
                    {{ bookingform.name.label(class="form-control-label") }}
                    {% if bookingform.name.errors %}
                    <div class="outer-transition">
                    {{ bookingform.name(class="form-control           form-control-lg is-invalid") }}
                  </div>
                  <div class="invalid-feedback">
                      {% for error in bookingform.name.errors %}
                      <span style="display: block;">{{ error }}</span>
                      {% endfor %}
                  </div>
                  {% else %}
                  <div class="outer-transition">
                      {{ bookingform.name(class="form-control form-control-lg mt-0") }}
                  </div>
                  {% endif %}
                    </div>
  </div>
        <div class="col-12  col-md-6">
                          <div class="form-group">
                    {{ bookingform.phone.label(class="form-control-label") }}
                    {% if bookingform.phone.errors %}
                    <div class="outer-transition">
                    {{ bookingform.phone(class="form-control           form-control-lg is-invalid") }}
                  </div>
                  <div class="invalid-feedback">
                      {% for error in bookingform.phone.errors %}
                      <span style="display: block;">{{ error }}</span>
                      {% endfor %}
                  </div>
                  {% else %}
                  <div class="outer-transition">
                      {{ bookingform.phone(class="form-control form-control-lg mt-0") }}
                  </div>
                  {% endif %}
                    </div>
  </div>
</div>
<div class="row">
  <div class="col-12  col-md-6">
    <div class="form-group">
      {{ bookingform.email.label(class="form-control-label") }}
      {% if bookingform.email.errors %}
      <div class="outer-transition">
      {{ bookingform.email(class="form-control           form-control-lg is-invalid") }}
    </div>
    <div class="invalid-feedback">
        {% for error in bookingform.email.errors %}
        <span style="display: block;">{{ error }}</span>
        {% endfor %}
    </div>
    {% else %}
    <div class="outer-transition">
        {{ bookingform.email(class="form-control form-control-lg mt-0") }}
    </div>
    {% endif %}
      </div>
      </div>

      <div class="col-12  col-md-6">
          <div class="form-group">
                    {{ bookingform.date.label(class="form-control-label") }}
                    {% if bookingform.date.errors %}
                    <div class="outer-transition">
                    {{ bookingform.date(class="form-control           form-control-lg is-invalid") }}
                  </div>
                  <div class="invalid-feedback">
                      {% for error in bookingform.date.errors %}
                      <span style="display: block;">{{ error }}</span>
                      {% endfor %}
                  </div>
                  {% else %}
                  <div class="outer-transition">
                      {{ bookingform.date(class="form-control form-control-lg mt-0", max="2030-06-14") }}
                  </div>
                  {% endif %}
                    </div>
        </div>
        </div>
        <div class="col-12" style="padding: 0px;">
          <div class="form-group">
            {% if bookingform.message.errors %}
            <div class="outer-transition">
            {{ bookingform.message(class="form-control           form-control-lg is-invalid") }}
          </div>
          <div class="invalid-feedback">
              {% for error in bookingform.message.errors %}
              <span style="display: block;">{{ error }}</span>
              {% endfor %}
          </div>
          {% else %}
          <div class="outer-transition">
            {{ bookingform.message(class="form-control form-control-lg mt-0" , style="height: 80px;", placeholder=bookingform.message.label.text) }}
          </div>
          {% endif %}
            </div>                </div>    
        {{ bookingform.submit(class="button gradient-bg", style="width: -moz-available;width: -webkit-fill-available; ", type="submit") }}
      </fieldset>
        {{ bookingform.csrf_token }}
      </form>
    </div>
  
  </div>
  <!-- Booking card -->
              </div>
              
  
              <div class="col-lg-6 col-md-6 d-flex align-items-stretch">
  
                <!-- Booking card -->
    <div class="card booking-card mt-2 mb-4" style="width: -moz-available;width: -webkit-fill-available; " >
  
      <!-- Card image -->    
  
  
      <!-- Card content -->
      <div class="card-body" style="{{add_style_if_ar('direction: rtl;text-align: right;', 'direction: ltr;text-align: left;')}}">
  
        <!-- Title -->
        <h4>{{_('Contact')}}</h4>
        <!-- Data -->
  
        <!-- Text -->
        <p class="card-text">                    
              <span style="padding: 0 5px;">{{_('Address')}}:</span>{{add_style_if_ar('الامارات العربية المتحدة – أبو ظبي – الكورنيش – خلف برج بينونة', 'Corniche Rd W - Al Markaziyah West - Abu Dhabi')}}
        </p>
        <div class="card-text" style="display: flex; margin-bottom: 1rem;">                    
        
          <span style="padding: 0 5px;">{{_('Phone')}}:</span><div style="direction: ltr;"><a href="tel:+97126228660" style="direction: ltr;">  +971 2 622 8660</a>  </div>      </div>

          <div class="card-text" style="display: flex; margin-bottom: 1rem;">                    
        
            <span style="padding: 0 5px;">{{_('Fax')}}:</span><div style="direction: ltr;"><a  style="direction: ltr;">  +971 2 622 8662</a>  </div>      </div>

          <div class="card-text" style="display: flex; margin-bottom: 1rem;">                    
        
            <span style="padding: 0 5px;">{{_('Mobile phone')}}:</span><div style="direction: ltr;"><a href="tel:+971503153009" style="direction: ltr;">  +971 50 315 3009</a>  </div>      </div>

                      <p class="card-text">                    
        
              <span style="padding: 0 5px;">{{_('Email')}}:</span><a href="mailto:Aamana_clinic@hotmail.com">Aamana_clinic@hotmail.com</a>        </p>

          

      </div>
  
    </div>
    <!-- Booking card -->
              </div>
  
              <div class="col-lg-6 col-md-6 d-flex align-items-stretch">
  
                <!-- Booking card -->
    <div class="card booking-card mt-2 mb-4 " style="width: -moz-available;width: -webkit-fill-available; ">
  
      <!-- Card image -->
  
  
      <!-- Card content -->
      <div class="card-body" style="{{add_style_if_ar('direction: rtl;text-align: right;', 'direction: ltr;text-align: left;')}}">
        <p class="h5 font-weight-bold mb-4">{{_('Opening hours')}}</p>
        <ul class="list-unstyled d-flex justify-content-start mb-0">
          <li style="font-size: 10pt;">{{_('Sunday - Thursday')}}</li>
          <li>
            <div class="chip ml-3">5:00pM</div>
          </li>
          <li>
            <div class="chip ml-0 mr-0">10:00AM</div>
          </li>
        </ul>
        <ul class="list-unstyled d-flex justify-content-start mb-0">
          <li style="font-size: 10pt;">{{_('Saturday')}}</li>
          <li>
            <div class="chip ml-3">9:00AM</div>
          </li>
          <li>
            <div class="chip ml-0 mr-0">7:00PM</div>
          </li>
        </ul>
        <ul class="list-unstyled d-flex justify-content-start mb-0">
          <li style="font-size: 10pt;">{{_('Friday')}}</li>
          <li>
            <div class="chip ml-3">{{_('CLOSED')}}</div>
          </li>
        </ul>
        <footer class="entry-footer">
          <a href="#">{{_('read more')}}</a>
      </footer>
      </div>
  
    </div>
    <!-- Booking card -->
              </div>
  
          </div>

        </div>
        </section>


</main>


{% endblock content %}