<!--
Not being used But leave it alone
-->
{% macro render_num_field(field,min,max) %}
    {% set caller_ = caller %}
    <div class="form-group">
    {{ field.label}}
    {{ field(class="form-control" ,min=min,max=max, type="number") }}
    {% if field.errors %}
    {% endif %}
    </div>
{% endmacro %}


{% macro toggle_locale() %}
    {% set caller_ = caller %}
    {% if (get_locale() and 'ar' in get_locale()) %}
    {{'en'}}
    {% else %}
    {{'ar'}}
    {% endif %}
{% endmacro %}


{% macro render_num_value(field_value) %}
    {% set caller_ = caller %}
    {% if (field_value == -1) %}
      {{ _("ID_Studio") }}
    {% elif (field_value == -2) or (field_value is none) %}
      {{ _("ID_undisclosed") }}
    {% else %}
      {{field_value}}
    {%endif%}
{% endmacro %}


{% macro render_select_field(field, item_id = "") %}
    {% set caller_ = caller %}
    {{ field(class="btn btn-primary dropdown-toggle", id = item_id, style="background-color: rgb(117,192,215);") }}
    {% if field.errors %}
    {% endif %}
{% endmacro %}


{% macro render_multi_ranage_slider_field(label, min_field, max_field, min_value, max_value, min_selected, max_selected) %}
{% set caller_ = caller %}
<div class="form-group">
<div class="middle">
  <div class="multi-range-slider">
    <div class="filter-text" style="{{'direction: rtl;' if (get_locale() and ('ar' in get_locale())) else  ''}}"><p class = "bounds-label">{{label}}</p>  <p class="price-bounds">{{'from ' + min_value|string() + ' to ' + max_valuemin_value|string()}}</p></div>
    {{ min_field(class="form-control input-left" ,type="range", id="input-left" + (index)|string(), min=min_value, max=max_value, value=min_selected|default(min_value + 1, true)) }}
    {{ max_field(class="form-control input-right" ,type="range", id="input-right" + (index)|string(), min=min_value, max=max_value, value=max_selected|default(max_value - 1, true)) }}

    <div class="slider">
      <div class="track"></div>
      <div class="range"></div>
      <div class="thumb left"></div>
      <div class="thumb right"></div>
    </div>
  </div>
</div>
</div>
{% endmacro %}


{% macro nav_bar() %}
{% if current_user.is_authenticated %}
    <a class="btn btn-light action-button" role="button" href="{{ url_for('users.account', locale = request.args.get('locale')) }}" style="padding-right: 20px;margin-right: 4px;background-color: rgb(43,172,172);">{{_('nav_ID_3_1')}}</a>
    <a class="btn btn-light action-button" role="button" href="{{ url_for('users.logout') }}" style="background-color: rgb(43,172,172);">{{_('nav_ID_4_1')}}</a>
                {% else %}
    <a class="btn btn-light action-button" role="button" href="{{ url_for('users.register', locale = request.args.get('locale')) }}" style="margin: 0px 2px; background-color: rgb(43,172,172);">{{_('nav_ID_3_2')}}</a>
    <a class="btn btn-light action-button" role="button" href="{{ url_for('users.login', locale = request.args.get('locale')) }}" style="margin: 0px 2px;background-color: rgb(43,172,172);">{{_('nav_ID_4_2')}}</a>
{% endif %}
<a class="btn btn-light action-button" role="button" style= "margin: 0px 2px;" href="{{ handle_routing_exception(toggle_locale()) }}">{{_('nav_ID_3_3')}}</a>
{% endmacro %}


{% macro render_optional_fields_cars(field_1_min,field_1_max,field_2, field_3, field_4, field_5) %}
        <div class="p-2 m-2" style="margin: 0rem!important; width: 200%;">
              {% call render_multi_ranage_slider_field(_('Milage'),field_1_min, field_1_max, 1 ,20, request.args.get('min_milage'), request.args.get('max_milage'))%}
              {% endcall %} 
        </div>

          <div class="form-group"style="display: flex; justify-content: space-between; {{'flex-direction: row-reverse;' if (get_locale() and ('ar' in get_locale())) else ''}}">
                {{ field_2(class="btn btn-primary dropdown-toggle", style="background-color: rgb(117,192,215); font-size: 15px;") }}
                {% if field_2.errors %}
                {% endif %}
                 {{ field_3(class="btn btn-primary dropdown-toggle", style="background-color: rgb(117,192,215);font-size: 15px;") }}
                {% if field_3.errors %}
                {% endif %}
              </div>

          <div class="form-group"style="display: flex; justify-content: space-between; {{'flex-direction: row-reverse;' if (get_locale() and ('ar' in get_locale())) else ''}}">
                {{ field_4(class="btn btn-primary dropdown-toggle", style="background-color: rgb(117,192,215); font-size: 15px;") }}
                {% if field_4.errors %}
                {% endif %}
                 {{ field_5(class="btn btn-primary dropdown-toggle", style="background-color: rgb(117,192,215);font-size: 15px;") }}
                {% if field_5.errors %}
                {% endif %}
              </div>

{% endmacro %}


{% macro render_optional_fields_property(field_1_min,field_1_max,field_2_min,field_2_max,field_3_min,field_3_max,perimeter,property_type) %}
        <div class="p-2 m-2" style="margin: 0rem!important; width: 200%;">
              {% call render_multi_ranage_slider_field(_('Bedrooms'),field_2_min, field_2_max, 1, 10, request.args.get('min_bedroom_count'), request.args.get('max_bedroom_count'))%}
              {% endcall %} 
        </div>

        <div class="p-2 m-2" style="margin: 0rem!important; width: 200%;">
              {% call render_multi_ranage_slider_field(_('Bathrooms'),field_1_min, field_1_max, 1 ,10, request.args.get('min_bathroom_count'), request.args.get('max_bathroom_count'))%}
              {% endcall %} 
        </div>

        <div class="p-2 m-2" style="margin: 0rem!important; width: 200%;">
              {% call render_multi_ranage_slider_field(_('Area'),field_3_min, field_3_max, 1, 20, request.args.get('min_area'), request.args.get('max_area'))%}
              {% endcall %} 
        </div>

        <div class="form-group"style="display: flex; justify-content: space-between;">
              {% call render_select_field(perimeter)%}
              {% endcall %} 
              {%call render_select_field(property_type)%}
              {% endcall %} 
        </div>
{% endmacro %}



{% macro render_pagination(route) %}
{% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=2, right_current=3) %}
      {% if page_num %}
        {% if posts.page == page_num %}
            <a class="btn btn-info mb-4" href="#">{{ page_num }}</a>
        {% else %}
          {% if "search_results" == route[0] %}
            <a class="btn btn-outline-info mb-4" href="{{ url_for('main.'+route[0],keyword = request.args.get('keyword'), locale = request.args.get('locale'), page=page_num) }}">{{ page_num }}</a>
          {%elif "filter" == route[0] %}
            <a class="btn btn-outline-info mb-4" href="{{ url_for('main.'+route[0],keyword = request.args.get('keyword'), min_price = request.args.get('min_price'), max_price = request.args.get('max_price'), section = request.args.get('section'), year = request.args.get('year'), perimeter = request.args.get('perimeter'), locale = request.args.get('locale'), page=page_num)}}">{{ page_num }}</a>
          {%elif "car_filter" == route[0] %}
            <a class="btn btn-outline-info mb-4" href="{{ url_for('main.'+route[0], keyword = request.args.get('keyword'),  min_price = request.args.get('min_price'), max_price = request.args.get('max_price'), year = request.args.get('year'), min_milage = request.args.get('min_mileage'), max_milage = request.args.get('max_milage'), brand = request.args.get('brand'), perimeter = request.args.get('perimeter'), locale = request.args.get('locale'), page=page_num)}}">{{ page_num }}</a>
          {%elif "prop_filter" == route[0] %}
            <a class="btn btn-outline-info mb-4" href="{{ url_for('main.'+route[0],keyword = request.args.get('keyword'), min_price = request.args.get('min_price'), max_price = request.args.get('max_price'), min_bathroom_count = request.args.get('min_bathroom_count'), max_bathroom_count = request.args.get('max_bathroom_count'), min_bedroom_count = request.args.get('min_bedroom_count'), max_bedroom_count = request.args.get('max_bedroom_count'), perimeter = request.args.get('perimeter'), leasetupe= request.args.get('leasetype'), property_type = request.args.get('property_type'), min_area = request.args.get('min_area'), max_area = request.args.get('max_area'), locale = request.args.get('locale'), page=page_num)}}">{{ page_num }}</a>
          {%else%}
            <a class="btn btn-outline-info mb-4" href="{{ url_for('main.'+route[0], locale = request.args.get('locale'), page=page_num) }}">{{ page_num }}</a>
          {%endif%}
        {% endif %}
      {% else %}
        ...
      {% endif %}
    {% endfor %}
{% endmacro %}


{% macro save_button_func(post) %}
    {% if current_user.is_authenticated %}  
      {% if current_user.has_saved_post(post) %}
        <div id="like_div">
          <a id="{{ url_for('users.save_post', post_id=post.id, action='unsave') }}" class="save_button" href="#">
            <i id="like_i" class="press"></i>
            <span id="like_span">Removed!</span>
          </a>
        </div>
      {% else %}
        <div id="like_div">
          <a id="{{ url_for('users.save_post', post_id=post.id, action='save') }}" class="save_button" href="#">
            <i id="like_i"></i>
            <span id="like_span">Saved!</span>
          </a>
        </div>
      {% endif %}
    {% else %}
        <div id="like_div">
          <i id="like_i" ></i>
          <span id="like_span" >Liked!</span>
          <a href="{{ url_for('users.login') }}"></a>
        </div>
    {% endif %}
{% endmacro %}

{% macro render_footer() %}
    <!-- End: 2 Rows 1+3 Columns -->
        <div class="container footer" id="myFooter">
            <div class="row" style="margin-top: -75px;">
                <div class="col-md-12" style="margin-top: 100px; text-align: center;">
                    <div style="{{add_style_if_ar('direction: rtl;text-align: right;', 'direction: ltr;text-align: left;')}}">
                        <h3 class="text-info font-weight-light mb-4">
                            {{_('Quick_Links')}}
                        </h3>
                    </div>
                  </div>
                </div>

              <div class="row" style="margin-top: -75px;">
                <div class="col-3" style="margin-top: 100px; text-align: center;">
                    <div class="text-center m-auto">
                      <div class="links" style="{{add_style_if_ar('direction: rtl;text-align: right;', 'direction: ltr;text-align: left;')}}">
                        <h4 class="text-info font-weight-light mb-3">
                           {{_('For_you')}}
                        </h4>
                        
                        <a href="/login">{{_('nav_ID_4_2')}}</a><br>
                        <a href="/register">{{_('nav_ID_3_2')}}</a><br>
                        <a href="account">{{_('nav_ID_3_1')}}</a><br>
                        <a href="/home?locale={{'ar' if ( 'ar' in toggle_locale()) else 'en'}}">{{add_style_if_ar('English', 'العربية')}}</a>
                        </div>
                    </div>
                  </div>
                <div class="col-3" style="margin-top: 100px; text-align: center;">
                    <div class="text-center m-auto">
                        <div class="links" style="{{add_style_if_ar('direction: rtl;text-align: right;', 'direction: ltr;text-align: left;')}}">
                        <h4 class="text-info font-weight-light mb-3">
                           {{_('Popular_Semsar_Cars')}}
                        </h4>
                        <a href="/car_filter?locale={{get_locale()}}">{{_('Cars_Sale')}}</a><br>
                        <a href="/car_filter?locale={{get_locale()}}&perimeter=dubai">{{_('Cars_Sale_dubai')}}</a><br>
                        <a href="/car_filter?locale={{get_locale()}}&perimeter=Abu+dhabi">{{_('Cars_Sale_Abudhabi')}}</a><br>
                        <a href="/car_filter?locale={{get_locale()}}">{{_('All Categories')}}</a>
                      </div>
                    </div>
                  </div>
                <div class="col-3" style="margin-top: 100px; text-align: center;">
                    <div class="text-center m-auto">
                      <div class="links" style="{{add_style_if_ar('direction: rtl;text-align: right;', 'direction: ltr;text-align: left;')}}">
                        <h4 class="text-info font-weight-light mb-3">
                           {{_('Popular_Semsar_Phones')}}
                        </h4>
                        
                        <a href="#">{{_('Popular_Semsar_Phones')}}</a><br>
                        <a href="#">{{_('Popular_Semsar_Phones')}}</a><br>
                        <a href="#">{{_('Popular_Semsar_Phones')}}</a><br>
                        <a href="#">{{_('Popular_Semsar_Phones')}}</a>
                        </div>
                    </div>
                  </div>
                  <div class="col-3" style="margin-top: 100px; text-align: center;">
                    <div class="text-center m-auto">
                        <div class="links" style="{{add_style_if_ar('direction: rtl;text-align: right;', 'direction: ltr;text-align: left;')}}">
                        <h4 class="text-info font-weight-light mb-3">
                           {{_('Popular_Semsar_Property')}}
                        </h4>
                        <a href="/prop_filter?locale={{get_locale()}}&leasetype=rent&property_type=apartment">{{_('Apartments_Rent')}}</a><br>
                        <a href="/prop_filter?locale={{get_locale()}}&leasetype=rent&property_type=villa">{{_('Villas_Rent')}}</a><br>
                        <a href="/prop_filter?locale={{get_locale()}}&leasetype=sale&property_type=villa">{{_("Villas_Sale")}}</a><br>
                        <a href="/prop_filter?locale={{get_locale()}}&leasetype=rent&property_type=office">{{_('Commercial_rent')}}</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
  {% endmacro %}