<!DOCTYPE html>
<html>
<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-178396263-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-178396263-1');
</script>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Hemorrhoids Lazer Surgery, علاج البواسير بالليزر">
    <meta name="keywords" content="Hemerrhoids, Clinic, Lazer, بواسير, نواسيرو شقوق شرجية">
    <meta name="author" content="John Doe">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/mdb.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/mdb.lite.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/mdb.lite.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/swiper.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/swiper.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" >
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">

    <link rel="stylesheet" href="https://unpkg.com/@bootstrapstudio/bootstrap-better-nav/dist/bootstrap-better-nav.min.css">


    {% if title %}
        <title>{{add_style_if_ar('عيادة أمانة','Amana Clinic')}} - {{ title }}</title>
    {% else %}
        <title>{{add_style_if_ar('عيادة أمانة','Amana Clinic')}}</title>
    {% endif %}
</head>
<body>
  <header class="site-header" style="{{'position: relative;padding: 220px 0 140px;background-color: #f0f4f8;' if not slider else ''}}">
    <div class="nav-bar" id="mynav" style="{{add_style_if_ar('direction: rtl;text-align: right;', 'direction: ltr;text-align: left;')}} background:linear-gradient({{add_style_if_ar('','-')}}90deg, rgb(66 134 210) 0%, rgb(88 125 228 / 0%) 100%);">
        <div class="container">
            <div class="row">
                <div class="col-12 d-flex flex-wrap justify-content-between align-items-center">
                    <div class="site-branding site-navigation d-flex align-items-center cm-e-menu">
                       <a class="d-block" href="index.html" rel="home"><img class="d-block" src="static/img/logo.png" alt="logo" style="width: 100px;;"></a>
                       <ul class="d-flex flex-column flex-lg-row justify-content-lg-end align-items-center">
                        <li class="current-menu-item"><a href="{{url_for('main.home', locale = request.args.get('locale'))}}">{{_('Home')}}</a></li>
                        <li><a href="{{url_for('main.about', locale = request.args.get('locale'))}}">{{_('About us')}}</a></li>
                        <li class="topmenu">
                          <a > {{_('Services')}}</a>
                          <ul class="submenu">
                          
                            {%for Service in mainServices%}
                            {% set serviceloop = loop %}
                            {%if not Service.subservices%}
                            <li><a href="{{url_for('main.services', locale = request.args.get('locale'), service= loop.index, type = 'main' )}}">{{add_style_if_ar(Service.title_ar,Service.title_en)}}</a></li>
                            {%else%}
                            <li>
                            <a > {{add_style_if_ar(Service.title_ar,Service.title_en)}} <i class="{{add_style_if_ar('fa fa-arrow-left','fa fa-arrow-right' )}}" aria-hidden="true"></i></a>
                            
                            <ul class="submenu" aria-labelledby="navbarDropdownMenuLink" style="border: none!important;">
                              {%for subservice in Service.subservices%}
                              <li><a class="dropdown-item" href="{{url_for('main.services', locale = request.args.get('locale'), service= serviceloop.index, type = 'main' )}}">{{add_style_if_ar(subservice.title_ar,subservice.title_en)}}</a></li>
                              {%endfor%}
                            </ul>
                          </li>
                            {%endif%}
                            {%endfor%}
                          </ul>
                          
                        </li>
                        <!-- Dropdown -->
                        <li class="topmenu">
                          <a>{{_('LHP')}}</a>
                          <ul class="submenu" style="border: #00000055 1px solid; border-radius: 10px; background:white;">

                            {%for Service in hemorrhiodsServices%}
                            {% set serviceloop = loop %}
                            {%if not Service.subservices%}
                            <li><a class="dropdown-item" href="{{url_for('main.services', locale = request.args.get('locale'), service= loop.index, type = hemorrhoids )}}">{{add_style_if_ar(Service.title_ar,Service.title_en)}}</a></li>
                            {%else%}
                            <li><a>{{add_style_if_ar(Service.title_ar,Service.title_en)}} <i class="{{add_style_if_ar('fa fa-arrow-left','fa fa-arrow-right' )}}" aria-hidden="true"></i></a>
                            
                            <ul class="submenu" aria-labelledby="navbarDropdownMenuLink" style="border: none!important;">
                              {%for subservice in Service.subservices%}
                              <li><a class="dropdown-item" href="{{url_for('main.services', locale = request.args.get('locale'), service= serviceloop.index, type = hemorrhoids )}}">{{add_style_if_ar(subservice.title_ar,subservice.title_en)}}</a></li>
                              {%endfor%}
                            </ul>
                          </li>
                            {%endif%}
                            {%endfor%}
                          
                          </ul>
                        </li>
                        <li><a href="{{url_for('main.contact', locale = request.args.get('locale'))}}">{{_('Contact')}}</a></li>
                        <li class="blue-bg" style="border-radius: 120px;background:linear-gradient(270deg, rgba(50,200,250,1) 0%, rgba(88,125,228,1) 100%)!important; box-shadow: 2px 2px 4px #0069d969, -2px -2px 4px #008dff73;"><a style="color: white; max-height: fit-content;padding: 15px;margin: 0;" class="scroll-link" href="#booking">{{_('Book an Appointment')}}</a></li>
                        </ul>
                    
                    </div><!-- .site-branding -->

                    <nav class="site-navigation d-flex justify-content-end align-items-center">
                        <ul class="d-flex flex-column flex-lg-row justify-content-lg-end align-items-center">
                          <li class=" mobile current-menu-item"><a href="{{url_for('main.home', locale = request.args.get('locale'))}}">{{_('Home')}}</a></li>
                          <li class="mobile"><a href="{{url_for('main.about', locale = request.args.get('locale'))}}">{{_('About us')}}</a></li>
                          <li class=" mobile">
                            <a href="{{url_for('main.services', locale = request.args.get('locale'), service= 1, type = 'main')}}"> {{_('Services')}}</a>                            
                          </li>
                          <!-- Dropdown -->
                          <li class=" mobile">
                            <a href="{{url_for('main.services', locale = request.args.get('locale'), service= 1, type = '')}}">{{_('LHP')}}</a>
                          </li>
                          <li class="mobile"><a href="{{url_for('main.contact', locale = request.args.get('locale'))}}">{{_('Contact')}}</a></li>
                          <li class="blue-bg mobile" style="border-radius: 120px; margin-bottom: 10px;background:linear-gradient(270deg, rgba(50,200,250,1) 0%, rgba(88,125,228,1) 100%)!important; box-shadow: 2px 2px 4px #0069d969, -2px -2px 4px #008dff73;"><a style="color: white; max-height: fit-content;padding: 15px;margin: 0;" class="scroll-link" href="#booking">{{_('Book an Appointment')}}</a></li>
                            <li class="call-btn button gradient-bg blue-bg mt-3 mt-md-0" style="direction: ltr;box-shadow: 2px 2px 4px #0069d969, -2px -2px 4px #008dff73;">
                                <a class="d-flex justify-content-center align-items-center " style="font-family: Segoe UI light;" href="tel:+97126228660"><img src="static/img/phone.svg" style=" width: 25px; filter: invert(100%); "> +971 2 622 8660</a>
                            </li>
                            
                            <li style="margin: 0px; display: inline-flex;">
                                <a class="d-flex justify-content-center align-items-center pt-0 pb-0" style="font-family: system-ui;" href="https://wa.me/971503153009"><img src="static/img/whatsapp.png" style=" width: 60px;"></a>
                                <a class="d-flex justify-content-center align-items-center pt-0 pb-0" style="font-family: system-ui;" href="{{url_for(request.endpoint) + '?locale=' +add_style_if_ar('en','ar')}}"><img src="static/img/{{add_style_if_ar('en', 'ar')}}.svg" style=" width: 40px;"></a>
                            </li>

  
                        </ul>
                    </nav><!-- .site-navigation -->

                    <div class="hamburger-menu d-lg-none">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div><!-- .hamburger-menu -->
                </div><!-- .col -->
            </div><!-- .row -->
        </div><!-- .container -->
    </div><!-- .nav-bar -->


        



          {% block content %}{% endblock %}
        

      </div>
    </main>



    <footer class="site-footer" style="background: url({{ url_for('static', filename = 'images/footer-bg.png') }}) no-repeat center #fff;position: relative;padding: 48px 0;background-size: cover;font-size: 14px;color: #828282; {{add_style_if_ar('direction: rtl;text-align: right;', 'direction: ltr;text-align: left;')}}">
      <div class="footer-widgets">
          <div class="container">
              <div class="row">
                  <div class="col-12 col-md-6 col-lg-4">
                      <div class="foot-about">
                          <h2><a href="#"><img src="static/img/logo.png" alt="" style="width: 100px;"></a></h2>

                          <p>{{add_style_if_ar(info.Introduction_ar, info.Introduction_en)}}</p>

                          <p class="copyright">
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | Amana Clinic <i class="fa fa-heart" aria-hidden="true"></i> <hr> by <a href="" target="_blank">Cortex-Designs</a>
</p>
                      </div><!-- .foot-about -->
                  </div><!-- .col -->

                  <div class="col-12 col-md-6 col-lg-4 mt-5 mt-md-0">
                      <div class="foot-contact">
                          <h2>{{_('Contact')}}</h2>

                          <ul class="p-0 m-0">
                              <li><span>{{_('Address')}}:</span>{{add_style_if_ar('الامارات العربية المتحدة – أبو ظبي – الكورنيش – خلف برج بينونة', 'Corniche Rd W - Al Markaziyah West - Abu Dhabi')}}</li>
                              <li><span>{{_('Phone')}}:</span><div style="direction: ltr;"> +971 2 622 8660</div></li>
                              <li><span>{{_('Email')}}:</span><a href="mailto:Aamana_clinic@hotmail.com">Aamana_clinic@hotmail.com</a></li>
                          </ul>
                      </div>
                  </div><!-- .col -->

                  <div class="col-12 col-md-6 col-lg-4 mt-5 mt-md-0">
                      <div class="foot-links">
                          <h2>{{_('Usefull Links')}}</h2>

                          <ul class="p-0 m-0">
                              <li><a href="{{url_for('main.home', locale = request.args.get('locale'))}}">{{_('Home')}}</a></li>
                              <li><a href="{{url_for('main.about', locale = request.args.get('locale'))}}">{{_('About us')}}</a></li>
                              <li><a href="{{url_for('main.services', locale = request.args.get('locale'), type = 'main', service= '1')}}">{{_('Services')}}</a></li>
                              <li><a href="{{url_for('main.contact', locale = request.args.get('locale'))}}">{{_('Contact')}}</a></li>
                              <li><a href="{{url_for('admin.index')[:-1]}}">{{_('control_panel')}}</a></li>
                              <li><a href="{{url_for('main.contact', locale = request.args.get('locale'))}}">{{_('FAQ')}}</a></li>
                          </ul>
                      </div><!-- .foot-links -->
                      <hr>
                      <h5>{{add_style_if_ar('تابعنا ','Follow Us')}}</h5>
            <ul class="social-network social-circle">
             <li><a href="https://www.facebook.com/amana.clinic1" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
             <li><a href="http://amanaclinic.blogspot.com/" class="icoBlogpost" title="Blogpost"><i class="fa fa-rss"></i></a></li>
             <li><a href="https://www.instagram.com/amana_clinic_/" class="icoInstagram" title="Instagram"><i class="fa fa-instagram"></i></a></li>
             <li><a href="https://www.youtube.com/user/amanaclinic" class="icoYoutube" title="Youtube"><i class="fa fa-youtube"></i></a></li>
            </ul>				
                  </div><!-- .col -->
              </div><!-- .row -->
          </div><!-- .container -->
      </div><!-- .footer-widgets -->
  </footer><!-- .site-footer -->
    


  <div id="overlay">

    <div id="loading-div" style="">
      <img class="d-block" src="static/img/logo.png" alt="logo" style="width: 150px;;">
      <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
    </div>

  </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://unpkg.com/@bootstrapstudio/bootstrap-better-nav/dist/bootstrap-better-nav.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename = 'js/jquery.collapsible.min.js') }}" ></script>
    <script src="{{ url_for('static', filename = 'js/swiper.min.js') }}" ></script>
    <script src="{{ url_for('static', filename = 'js/jquery.countdown.min.js') }}" ></script>
    <script src="{{ url_for('static', filename = 'js/jquery.js') }}" ></script>
    <script src="{{ url_for('static', filename = 'js/jquery.collapsible.min.js') }}" ></script>
    <script src="{{ url_for('static', filename = 'js/jquery.countdown.min.js') }}" ></script>
    <script src="{{ url_for('static', filename = 'js/circle-progress.min.js') }}" ></script>
    <script src="{{ url_for('static', filename = 'js/jquery.countTo.min.js') }}" ></script>
    <script src="{{ url_for('static', filename = 'js/jquery.barfiller.js') }}" ></script>
    <script src="{{ url_for('static', filename = 'js/custom.js') }}" ></script>
    <script src="{{ url_for('static', filename = 'js/nav.js') }}" ></script>



  </body>
</html>
