<!DOCTYPE html>
<html lang="en">
<head>
    {% if title %}
    <title>Flask Blog - {{ title }}</title>
{% else %}
    <title>{{add_style_if_ar('عيادة أمانة','Amana Clinic')}}</title>
{% endif %}
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/util.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
<!--===============================================================================================-->
</head>
<body>

            
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
        <div class="alert alert-{{ category }}">
          {{ message }}
        </div>
      {% endfor %}
    {% endif %}
  {% endwith %} 
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100 p-l-85 p-r-85 p-t-55 p-b-55">
                <form method="POST" action="">
                    {{ form.hidden_tag() }}
                    <fieldset class="form-group">
                    <!-- Start: Email -->
                    <div class="form-group">
                        {{ form.email.label(class="form-control-label") }}
                        {% if form.email.errors %}
                        <div class="outer-transition">
                        {{ form.email(class="form-control           form-control-lg is-invalid") }}
                        </div>
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                            <span style="display: block;">{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                        <div class="outer-transition">
                            {{ form.email(class="form-control form-control-lg") }}
                        </div>
                        {% endif %}
                    </div>
                    <!-- End: Email -->
                    <!-- Start: Password -->
                    <div class="form-group">
                        {{ form.password.label(class="form-control-label") }}
                        {% if form.password.errors %}
                        <div class="outer-transition">
                        {{ form.password(class="form-control form-control-lg is-invalid") }}
                        </div>
                        <div class="invalid-feedback">
                            {% for error in form.password.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                        <div class="outer-transition">
                            {{ form.password(class="form-control form-control-lg") }}
                        </div>
                        {% endif %}</div>
                    <!-- End: Password -->
                    <!-- Start: Rememebr me toggle -->
                    <div class="form-check" >
                        {{form.remember(class="form-check-input")}}
                        {{form.remember.label(class="form-check-label")}}
                    </div>
                    <!-- End: Rememebr me toggle -->
                    </fieldset>
                    <!-- Start: Submit -->
                    <div class="form-group">
                        {{ form.submit(class="btn btn-primary btn-md", type="submit",style="background-color: rgb(43,172,172);") }}
                    </div>
                    <!-- End: Submit -->
                </form>
			</div>
		</div>
	</div>
	

	<div id="dropDownSelect1"></div>
	
<!--===============================================================================================-->
	<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/bootstrap/js/popper.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/daterangepicker/moment.min.js"></script>
	<script src="vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
	<script src="js/main.js"></script>

</body>
</html>