{% extends "layout.html" %}
{% block content %}

<div class="swiper-container hero-slider">
  <div class="swiper-wrapper">
      <div class="swiper-slide hero-content-wrap fade" style="background-image: url('static/img/logo-long-2.png')">
          <div class="hero-content-overlay position-absolute w-100 h-100">
              <div class="container h-100">
                  <div class="row h-100">
                      <div class="col-12 col-lg-6 d-flex flex-column justify-content-center align-items-start" style="{{add_style_if_ar('direction: rtl;text-align: right;', 'direction: ltr;text-align: left;')}}">
                          <header class="entry-header">
                              <h1>{{add_style_if_ar(info.Main_page_intro_title_ar,info.Main_page_intro_title_en)}}</h1>
                          </header><!-- .entry-header -->

                          <div class="entry-content mt-4">
                              <p>{{add_style_if_ar(info.Main_page_intro_details_ar,info.Main_page_intro_details_en)}}</p>
                          </div><!-- .entry-content -->

                          <footer class="entry-footer d-flex flex-wrap align-items-center mt-4">
                              <a href="#" class="button gradient-bg" style="color: white!important;">{{_('read more')}}</a>
                          </footer><!-- .entry-footer -->
                      </div><!-- .col -->
                  </div><!-- .row -->
              </div><!-- .container -->
          </div><!-- .hero-content-overlay -->
      </div><!-- .hero-content-wrap -->

      <div class="swiper-slide hero-content-wrap" style="background-image: url('static/img/hero-4.png')">
          <div class="hero-content-overlay position-absolute w-100 h-100">
              <div class="container h-100">
                  <div class="row h-100">
                    <div class="col-12 col-lg-6 d-flex flex-column justify-content-center align-items-start" style="{{add_style_if_ar('direction: rtl;text-align: right;', 'direction: ltr;text-align: left;')}}">
                        <header class="entry-header">
                            <h1>{{_('Dr. Tamim Saqr')}}</h1>
                        </header><!-- .entry-header -->

                          <div class="entry-content mt-4">
                            <p>{{_('dr_info')}}</p>
                        </div><!-- .entry-content -->

                          <footer class="entry-footer d-flex flex-wrap align-items-center mt-4">
                              <a href="#" class="button gradient-bg">{{_('read more')}}</a>
                          </footer><!-- .entry-footer -->
                      </div><!-- .col -->
                  </div><!-- .row -->
              </div><!-- .container -->
          </div><!-- .hero-content-overlay -->
      </div><!-- .hero-content-wrap -->
  </div><!-- .swiper-wrapper -->

  <div class="pagination-wrap position-absolute w-100">
      <div class="swiper-pagination d-flex flex-row flex-md-column"></div>
  </div><!-- .pagination-wrap -->
</div><!-- .hero-slider -->

</header><!-- .site-header -->



<main role="main" class="container mb-0 mt-0" >
<div class="row">

    <section style="max-width: 100vw;">
        <div class="container-fluid white lighten-4 mb-0 mt-0 ">
    
            <div class="row mt-5 pt-3" id= "booking">
    
              <div class="col-lg-12 col-md-12 d-flex align-items-stretch">
                <!-- Booking card -->
    <div class="card booking-card card mt-2 mb-4"   style="width: inherit;">
    
     
    
      <!-- Card content -->
      <div class="card-body" style="{{add_style_if_ar('direction: rtl;text-align: right;', 'direction: ltr;text-align: left;')}}">
        <form class="" method="POST" action="" enctype="multipart/form-data">
          {{ bookingform.hidden_tag() }}
          <fieldset class="form-group">
          <p class="h4 mb-4 text-center">{{_('Book an Appointment')}}</p>
      
      
          
          <div class="row">
        <div class="col-12  col-md-6 ">
                            <div class="form-group">
                      {{ bookingform.name.label(class="form-control-label") }}
                      {% if bookingform.name.errors %}
                      <div class="outer-transition">
                      {{ bookingform.name(class="form-control           form-control-lg is-invalid") }}
                    </div>
                    <div class="invalid-feedback">
                        {% for error in bookingform.name.errors %}
                        <span style="display: block;">{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    <div class="outer-transition">
                        {{ bookingform.name(class="form-control form-control-lg mt-0") }}
                    </div>
                    {% endif %}
                      </div>
    </div>
          <div class="col-12  col-md-6 ">
                            <div class="form-group">
                      {{ bookingform.phone.label(class="form-control-label") }}
                      {% if bookingform.phone.errors %}
                      <div class="outer-transition">
                      {{ bookingform.phone(class="form-control           form-control-lg is-invalid") }}
                    </div>
                    <div class="invalid-feedback">
                        {% for error in bookingform.phone.errors %}
                        <span style="display: block;">{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    <div class="outer-transition">
                        {{ bookingform.phone(class="form-control form-control-lg mt-0") }}
                    </div>
                    {% endif %}
                      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12  col-md-6 ">
      <div class="form-group">
        {{ bookingform.email.label(class="form-control-label") }}
        {% if bookingform.email.errors %}
        <div class="outer-transition">
        {{ bookingform.email(class="form-control           form-control-lg is-invalid") }}
      </div>
      <div class="invalid-feedback">
          {% for error in bookingform.email.errors %}
          <span style="display: block;">{{ error }}</span>
          {% endfor %}
      </div>
      {% else %}
      <div class="outer-transition">
          {{ bookingform.email(class="form-control form-control-lg mt-0") }}
      </div>
      {% endif %}
        </div>
        </div>
  
        <div class="col-12  col-md-6 ">
            <div class="form-group">
                      {{ bookingform.date.label(class="form-control-label") }}
                      {% if bookingform.date.errors %}
                      <div class="outer-transition">
                      {{ bookingform.date(class="form-control           form-control-lg is-invalid") }}
                    </div>
                    <div class="invalid-feedback">
                        {% for error in bookingform.date.errors %}
                        <span style="display: block;">{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    <div class="outer-transition">
                        {{ bookingform.date(class="form-control form-control-lg mt-0", max="2030-06-14") }}
                    </div>
                    {% endif %}
                      </div>
          </div>
          </div>
          <div class="col-12 " style="padding: 0px;">
            <div class="form-group">
              {% if bookingform.message.errors %}
              <div class="outer-transition">
              {{ bookingform.message(class="form-control           form-control-lg is-invalid") }}
            </div>
            <div class="invalid-feedback">
                {% for error in bookingform.message.errors %}
                <span style="display: block;">{{ error }}</span>
                {% endfor %}
            </div>
            {% else %}
            <div class="outer-transition">
                {{ bookingform.message(class="form-control form-control-lg mt-0" , style="height: 80px;", placeholder=bookingform.message.label.text) }}
            </div>
            {% endif %}
              </div>                </div>    
          {{ bookingform.submit(class="button gradient-bg swing", style="width: -moz-available;width: -webkit-fill-available; ", type="submit") }}
        </fieldset>
          {{ bookingform.csrf_token }}
        </form>
      </div>
    
    </div>
    <!-- Booking card -->
                </div>
                
    
                <div class="col-lg-6 col-md-6 d-flex align-items-stretch">
    
                  <!-- Booking card -->
      <div class="card booking-card mt-2 mb-4" style="width: -moz-available;width: -webkit-fill-available; " >
    
        <!-- Card image -->    
    
    
        <!-- Card content -->
        <div class="card-body" style="{{add_style_if_ar('direction: rtl;text-align: right;', 'direction: ltr;text-align: left;')}}">
    
          <!-- Title -->
          <h4 class="card-title font-weight-bold mb-4"><a>{{_('What we do At Amana Clinic')}}</a></h4>
          <!-- Data -->
    
          <!-- Text -->
          <p class="card-text">{{add_style_if_ar(info.Main_page_intro_details_ar,info.Main_page_intro_details_en)}}</p>
          <footer class="entry-footer">
            <a href="#">{{_('read more')}}</a>
        </footer>
        </div>
    
      </div>
      <!-- Booking card -->
                </div>
    
                <div class="col-lg-6 col-md-6 d-flex align-items-stretch">
    
                  <!-- Booking card -->
      <div class="card booking-card mt-2 mb-4 " style="width: -moz-available;width: -webkit-fill-available; ">
    
        <!-- Card image -->
    
    
        <!-- Card content -->
        <div class="card-body" style="{{add_style_if_ar('direction: rtl;text-align: right;', 'direction: ltr;text-align: left;')}}">
          <p class="card-title font-weight-bold mb-4">{{_('Stats')}}</p>
          
<div class="container">
  <div class="stats">
    <div class="clientrev">
      <span>+11000</span>
      <p>{{_('Successful Surgeries')}}</p>
    </div>
    <div class="adspend">
      <span>+15000</span>
      <p>{{_('patients')}}</p>
    </div>

    <div class="roi">
      <span>+23</span>
      <p>{{_('Years of Experience')}}</p>
    </div>
    <div class="maus" style="display: none;">
      <span>122</span>
      <p>{{_('Successful LHP')}}</p>
    </div>
  </div>
</div>
        </div>
    
      </div>
      <!-- Booking card -->
                </div>
    
            </div>
          </div>
          </section>

      <div class="our-departments" style="width: -moz-available;width: -webkit-fill-available; ">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="our-departments-wrap">
                        <h2>{{_('Our Services')}}</h2>
                        

                        <div class="row" style="{{add_style_if_ar('direction: rtl;text-align: right;', 'direction: ltr;text-align: left;')}}">
                        {% for service in Services %}
                            <div class="col-12 col-md-6 col-lg-4">
                                <div class="our-departments-cont">
                                    <header class="entry-header d-flex flex-wrap align-items-center">
                                        <h3>{{ add_style_if_ar(service.title_ar,service.title_en) }}</h3>
                                    </header>

                                    <div class="entry-content">
                                        <p>{{ add_style_if_ar(service.content_ar,service.content_en)  }}</p>
                                    </div>

                                    <footer class="entry-footer">
                                        <a href="{{url_for('main.services', locale = request.args.get('locale'), type = ('main') if 'main' in (service.service_type) else '' )}}">{{_('read more')}}</a>
                                    </footer>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


      <section class="testimonial-section">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2>{{_('Medical Staff')}}</h2>
                </div>
            </div>
        </div>

        <!-- Swiper -->
        <div class="testimonial-slider">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-lg-9">
                        <div class="testimonial-bg-shape">
                            <div class="swiper-container testimonial-slider-wrap" style="{{add_style_if_ar('direction: rtl;text-align: right;', 'direction: ltr;text-align: left;')}}">
                                <div class="">
                                    <div class="">
                                        <div class="entry-content">
                                            <p>{{_('dr_info')}}</p>
                                        </div><!-- .entry-content -->

                                        <div class="entry-footer">
                                            <figure class="user-avatar">
                                                <img src="static/img/doctor-square.jpg" alt="">
                                            </figure><!-- .user-avatar -->

                                            <h3 class="testimonial-user">{{_('Dr. Tamim Saqr')}} <span>{{_('USA, UK, UAE, Syria.')}}</span></h3>
                                        </div><!-- .entry-footer -->
                                    </div><!-- .swiper-slide -->
                                </div><!-- .swiper-wrapper -->

                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg " style="place-self: center;">
                      <ul class="social-network social-circle mobile">
                        <li><a href="https://www.facebook.com/amana.clinic1" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="http://amanaclinic.blogspot.com/" class="icoBlogpost" title="Blogpost"><i class="fa fa-rss"></i></a></li>
                        <li><a href="https://www.instagram.com/amana_clinic_/" class="icoInstagram" title="Instagram"><i class="fa fa-instagram"></i></a></li>
                        <li><a href="https://www.youtube.com/user/amanaclinic" class="icoYoutube" title="Youtube"><i class="fa fa-youtube"></i></a></li>                     </ul>	
                         </ul>	


                    </div>
                </div>


                <div class="row" style="margin-top:2rem;">
                  <div class="col-12 col-lg-9 order-last">
                      <div class="testimonial-bg-shape">
                          <div class="swiper-container testimonial-slider-wrap" style="{{add_style_if_ar('direction: rtl;text-align: right;', 'direction: ltr;text-align: left;')}}">
                              <div class="">
                                  <div class="">
                                      <div class="entry-content">
                                          <p>{{_('nurse_info')}}</p>
                                      </div><!-- .entry-content -->

                                      <div class="entry-footer">
                                          <figure class="user-avatar">
                                              <img src="static/img/nurse-square.jpg" alt="">
                                          </figure><!-- .user-avatar -->

                                          <h3 class="testimonial-user">{{_('Nurse')}} <span>{{add_style_if_ar('ممرضة مرخصة من هيئة ابو ظبي', 'Certified Nurse')}}</span></h3>
                                      </div><!-- .entry-footer -->
                                  </div><!-- .swiper-slide -->
                              </div><!-- .swiper-wrapper -->

                          </div>
                      </div>
                  </div>
                  <div class="col-12 col-lg " style="place-self: center;">
                    <ul class="social-network social-circle mobile">
                      <li><a href="https://www.facebook.com/amana.clinic1" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                      <li><a href="http://amanaclinic.blogspot.com/" class="icoBlogpost" title="Blogpost"><i class="fa fa-rss"></i></a></li>
                      <li><a href="https://www.instagram.com/amana_clinic_/" class="icoInstagram" title="Instagram"><i class="fa fa-instagram"></i></a></li>
                      <li><a href="https://www.youtube.com/user/amanaclinic" class="icoYoutube" title="Youtube"><i class="fa fa-youtube"></i></a></li>                     </ul>	


                  </div>
              </div>
            </div>
        </div><!-- .testimonial-slider -->
    </section><!-- .testimonial-section -->





  </main>
  {% endblock content %}
