{% extends "layout.html" %}
{% block content %}
<div class="swiper-container hero-slider">
  <div class="swiper-wrapper">
      <div class="swiper-slide hero-content-wrap" style="background-image: url('static/img/hero-2.png')">
          <div class="hero-content-overlay position-absolute w-100 h-100">
              <div class="container h-100">
                  <div class="row h-100">
                      <div class="col-12 col-lg-6 d-flex flex-column justify-content-center align-items-start">
                          <header class="entry-header">
                              <h1>The Best <br>Medical Services</h1>
                          </header><!-- .entry-header -->

                          <div class="entry-content mt-4">
                              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris scelerisque, at rutrum nulla dictum. Ut ac ligula sapien. Suspendisse cursus faucibus finibus.</p>
                          </div><!-- .entry-content -->

                          <footer class="entry-footer d-flex flex-wrap align-items-center mt-4">
                              <a href="#" class="button gradient-bg" style="color: white!important;">Read More</a>
                          </footer><!-- .entry-footer -->
                      </div><!-- .col -->
                  </div><!-- .row -->
              </div><!-- .container -->
          </div><!-- .hero-content-overlay -->
      </div><!-- .hero-content-wrap -->

      <div class="swiper-slide hero-content-wrap" style="background-image: url('static/img/hero-3.png')">
          <div class="hero-content-overlay position-absolute w-100 h-100">
              <div class="container h-100">
                  <div class="row h-100">
                      <div class="col-12 col-lg-6 d-flex flex-column justify-content-center align-items-start">
                          <header class="entry-header">
                              <h1>The Best <br>Medical Services</h1>
                          </header><!-- .entry-header -->

                          <div class="entry-content mt-4">
                              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris scelerisque, at rutrum nulla dictum. Ut ac ligula sapien. Suspendisse cursus faucibus finibus.</p>
                          </div><!-- .entry-content -->

                          <footer class="entry-footer d-flex flex-wrap align-items-center mt-4">
                              <a href="#" class="button gradient-bg">Read More</a>
                          </footer><!-- .entry-footer -->
                      </div><!-- .col -->
                  </div><!-- .row -->
              </div><!-- .container -->
          </div><!-- .hero-content-overlay -->
      </div><!-- .hero-content-wrap -->

      <div class="swiper-slide hero-content-wrap" style="background-image: url('images/hero.jpg')">
          <div class="hero-content-overlay position-absolute w-100 h-100">
              <div class="container h-100">
                  <div class="row h-100">
                      <div class="col-12 col-lg-6 d-flex flex-column justify-content-center align-items-start">
                          <header class="entry-header">
                              <h1>The Best <br>Medical Services</h1>
                          </header><!-- .entry-header -->

                          <div class="entry-content mt-4">
                              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris scelerisque, at rutrum nulla dictum. Ut ac ligula sapien. Suspendisse cursus faucibus finibus.</p>
                          </div><!-- .entry-content -->

                          <footer class="entry-footer d-flex flex-wrap align-items-center mt-4">
                              <a href="#" class="button gradient-bg">Read More</a>
                          </footer><!-- .entry-footer -->
                      </div><!-- .col -->
                  </div><!-- .row -->
              </div><!-- .container -->
          </div><!-- .hero-content-overlay -->
      </div><!-- .hero-content-wrap -->
  </div><!-- .swiper-wrapper -->

  <div class="pagination-wrap position-absolute w-100">
      <div class="swiper-pagination d-flex flex-row flex-md-column"></div>
  </div><!-- .pagination-wrap -->
</div><!-- .hero-slider -->
</header><!-- .site-header -->



<main role="main" class="container mb-0 mt-0" >
<div class="row">

  <section>
    <div class="container-fluid white lighten-4 mb-0 mt-0 ">
      <div class="container mb-0 mt-0">

        <div class="row mt-5 pt-3">

          <div class="col-lg-4 col-md-12 d-flex align-items-stretch">
            <!-- Booking card -->
<div class="card booking-card card mt-2 mb-4">

 

  <!-- Card content -->
  <div class="card-body">
    <form class="">

      <p class="h4 mb-4 text-center">Contact us</p>
  
  
      <label for="defaultSelect">Book an Appointment</label>
      <select id="defaultSelect" class="browser-default custom-select mb-4">
          <option value="" disabled="">Choose option</option>
          
          {%for service in Services%}
          <option value="{{service.id}}" selected="">{{service.title}}</option>
          {% endfor %}
          <option value="1" selected="">consultation</option>
      </select>
  
      
      <input type="text" id="textInput" class="form-control mb-4" placeholder="Phone number">

      <input type="text" id="textInput" class="form-control mb-4" placeholder="Email address">

      <input type="date" id="start" name="trip-start"
       value="2018-07-22"
       min="2018-01-01" max="2018-12-31" class="form-control mb-4" style="display: flex;">
  
      <textarea class="form-control rounded-0" id="exampleFormControlTextarea2" rows="3" placeholder="Message"></textarea>
  
      <input class="button gradient-bg button gradient-bg ml-3 mt-3 mb-2" type="submit" value="BooK Appoitnment">  </form>
  </div>

</div>
<!-- Booking card -->
            </div>
            

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch">

              <!-- Booking card -->
  <div class="card booking-card mt-2 mb-4">

    <!-- Card image -->
    <div class="view overlay">
      <img src="{{ url_for('static', filename='img/placeholder2.jpg') }}" class="card-img-top" alt="">
      <a href="#!">
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>

    <!-- Card content -->
    <div class="card-body">

      <!-- Title -->
      <h4 class="card-title font-weight-bold mb-4"><a>What we do At Amana Clinic</a></h4>
      <!-- Data -->

      <!-- Text -->
      <p class="card-text">An Abudhabi Based clinic specialized in treating various anal related diseases utilizing the latest international medical methods.</p>
      <footer class="entry-footer">
        <a href="#">read more</a>
    </footer>
    </div>

  </div>
  <!-- Booking card -->
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch">

              <!-- Booking card -->
  <div class="card booking-card mt-2 mb-4 ">

    <!-- Card image -->
    <div class="view overlay">
      <img src="{{ url_for('static', filename='img/placeholder.jpg') }}" class="card-img-top" alt="">
      <a href="#!">
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>

    <!-- Card content -->
    <div class="card-body">
      <p class="h5 font-weight-bold mb-4">Opening hours</p>
      <ul class="list-unstyled d-flex justify-content-start mb-0">
        <li style="font-size: 10pt;">Sunday - Thursday</li>
        <li>
          <div class="chip ml-3">5:00pM</div>
        </li>
        <li>
          <div class="chip ml-0 mr-0">10:00AM</div>
        </li>
      </ul>
      <ul class="list-unstyled d-flex justify-content-start mb-0">
        <li style="font-size: 10pt;">Saturday</li>
        <li>
          <div class="chip ml-3">9:00AM</div>
        </li>
        <li>
          <div class="chip ml-0 mr-0">7:00PM</div>
        </li>
      </ul>
      <ul class="list-unstyled d-flex justify-content-start mb-0">
        <li style="font-size: 10pt;">Friday</li>
        <li>
          <div class="chip ml-3">CLOSED</div>
        </li>
      </ul>
      <footer class="entry-footer">
        <a href="#">read more</a>
    </footer>
    </div>

  </div>
  <!-- Booking card -->
            </div>

        </div>
      </div>
      </div>
      </section>

      <div class="our-departments">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="our-departments-wrap">
                        <h2>Our Services</h2>
                        

                        <div class="row">
                        {% for service in Services %}
                            <div class="col-12 col-md-6 col-lg-4">
                                <div class="our-departments-cont">
                                    <header class="entry-header d-flex flex-wrap align-items-center">
                                        <h3>{{ service.title }}</h3>
                                    </header>

                                    <div class="entry-content">
                                        <p>{{ service.content }}</p>
                                    </div>

                                    <footer class="entry-footer">
                                        <a href="#">read more</a>
                                    </footer>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


      <section class="testimonial-section" style="background: url('static/images/news-5.jpg') no-repeat right center; background-size: 742.4px 494.9333px; border-radius: 15px 50px 30px 5px; border-radius: 0rem 25rem 25rem 0rem;">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2>Medical Staff</h2>
                </div>
            </div>
        </div>

        <!-- Swiper -->
        <div class="testimonial-slider">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-lg-9">
                        <div class="testimonial-bg-shape">
                            <div class="swiper-container testimonial-slider-wrap">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div class="entry-content">
                                            <p>Dr. Tamim Saqr is a specialist in general surgery. With 20 years of experience in the field of surgery between hospitals in the United States of America, Britain and Abu Dhabi. He graduated in 1994 after studying medicine in Syria.</p>
                                        </div><!-- .entry-content -->

                                        <div class="entry-footer">
                                            <figure class="user-avatar">
                                                <img src="static/img/doctor-square.jpg" alt="">
                                            </figure><!-- .user-avatar -->

                                            <h3 class="testimonial-user">Dr. Tamim Saqr <span>USA, UK, UAE, Syria.</span></h3>
                                        </div><!-- .entry-footer -->
                                    </div><!-- .swiper-slide -->
                                </div><!-- .swiper-wrapper -->

                                <div class="swiper-pagination-wrap">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="swiper-pagination position-relative flex justify-content-center align-items-center"></div>
                                            </div><!-- .col -->
                                        </div><!-- .row -->
                                    </div><!-- .container -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- .testimonial-slider -->
    </section><!-- .testimonial-section -->



    <div class="the-news">
      <div class="container">
          <div class="row">
              <div class="col-12">
                  <h2>The News</h2>

                  <div class="row">
                    {%for newspost in news%}
                    <div class="col-12 col-md-6 col-lg-4 d-flex align-items-stretch">
                      <div class="card card-cascade narrower" style="padding: 1rem;">
                          <!-- Card image -->
                            <div class="view view-cascade overlay">
                              <img class="card-img" src="static/images/news-2.png"
                                alt="Card image cap" style="border-radius: 0.25rem;">
                              <a>
                                <div class="mask rgba-white-slight"></div>
                              </a>
                            </div>
                        <div class="the-news-wrap">
                            

                            <header class="entry-header">
                                <h3>{{newspost.title}}</h3>

                                <div class="post-metas d-flex flex-wrap align-items-center">
                                    <div class="posted-date"><label>Date: </label><a href="#">April 12, 2018</a></div>

                                    <div class="posted-by"><label>By: </label><a href="#">Dr. Tamim Saqr</a></div>

                                    <div class="post-comments"></div>
                                </div>
                            </header>

                            <div class="entry-content">
                                <p>{{newspost.content}} </p>
                            </div>
                        </div>
                        <footer class="entry-footer">
                          <a href="#">read more</a>
                      </footer>
                      </div>
                    </div>
                    {% endfor %}

                  </div>
              </div>
          </div>
      </div>
  </div>


  </main>
  {% endblock content %}
