{% extends "layout.html" %}
{% block content %}
<div class="container">
    <div class="row" style="{{add_style_if_ar('direction:rtl;text-align:right;')}}">
        <div class="col-12">
            <h1>{{_('Services')}}</h1>

            <div class="breadcrumbs" >
                <ul class="d-flex flex-wrap align-items-center p-0 m-0">
                    <li><a href="{{url_for('main.home', locale = request.args.get('locale'))}}">{{_('Home')}}</a></li>
                    <li>{{_('Services')}}</li>
                </ul>
            </div><!-- .breadcrumbs -->

        </div>
    </div>
</div>

<img class="header-img"  style="{{add_style_if_ar('right: unset;transform: scaleX(-1);' , 'right: 0;')}}position: absolute;top: 0;max-width: 65%;height: auto;" src="" alt="">
</header><!-- .site-header -->

<main role="main" class="container mb-0 mt-0" >
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="services-tabs" style="{{add_style_if_ar('direction: rtl;text-align: right;', 'direction: ltr;text-align: left;')}}">
                <div class="tabs">
                    <ul class="tabs-nav d-flex flex-nowrap" style="overflow-x: scroll;">
                        {% for service in Services %}
                        {{ service.title }} 
                        <li class="tab-nav d-flex justify-content-center align-items-center active" data-target=".tab_{{ service.id }}">{{add_style_if_ar(service.title_ar,service.title_en)}}</li>
                        {% endfor %}

                    </ul>

                    <div class="tabs-container">
                        {% for service in Services %}
                      
                        <div class="tab_{{ service.id }} tab-content" style="display: block;">
                            <img src="static/images/Services/{{ service.id }}.jpg" alt="" style="max-width: 290px; float: {{add_style_if_ar('left','right')}};">
                        <h4 style="font-size: {{service.title_Font_size if service.title_Font_size else ''}}pt; color:{{service.title_font_color if service.title_font_color else ''}};">{{add_style_if_ar(service.title_ar,service.title_en)}} </h4>

                            <p style="font-size: {{service.content_Font_size if service.content_Font_size else ''}}pt; color:{{service.content_font_color if service.content_font_color else ''}};">{{add_style_if_ar(service.content_ar,service.content_en)}}</p>
                        </div>
                        {%for subservice in service.subservices %}
                        
                        <div class="tab_{{ service.id }} tab-content" style="display: block; {{'background:#d3d3d34a;' if ((loop.index) %2 == 1)  else ''}}">
                          <img src="static/images/services/{{ service.id }}_{{ subservice.id }}.jpg" alt="" style="max-width: 290px;">

                          <h4 style="font-size: {{subservice.title_Font_size -2 if subservice.title_Font_size else ''}}pt; color:{{subservice.title_font_color if subservice.title_font_color else ''}};">{{add_style_if_ar(subservice.title_ar,subservice.title_en)}} </h4>

                          <p style="font-size: {{subservice.content_Font_size if subservice.content_Font_size else ''}}pt; color:{{subservice.content_font_color if subservice.content_font_color else ''}};">{{add_style_if_ar(subservice.content_ar,subservice.content_en)}}</p>
                      </div>
                        {%endfor%}
                        
                        
                        
                        
                        {% endfor %}


                    </div>

                    
                </div>
            </div>
        </div>
    </div>
</div>



<section>
  <div class="container-fluid white lighten-4 mb-0 mt-0 ">

      <div class="row mt-5 pt-3" id= "booking">

        <div class="col-lg-12 col-md-12 d-flex align-items-stretch">
          <!-- Booking card -->
<div class="card booking-card card mt-2 mb-4"   style="width: inherit;">



<!-- Card content -->
<div class="card-body" style="{{add_style_if_ar('direction: rtl;text-align: right;', 'direction: ltr;text-align: left;')}}">
  <form class="" method="POST" action="" enctype="multipart/form-data">
    {{ bookingform.hidden_tag() }}
    <fieldset class="form-group">
    <p class="h4 mb-4 text-center">{{_('Book an Appointment')}}</p>


    
    <div class="row">

  <div class="col-12  col-md-6">
                      <div class="form-group">
                {{ bookingform.name.label(class="form-control-label") }}
                {% if bookingform.name.errors %}
                <div class="outer-transition">
                {{ bookingform.name(class="form-control           form-control-lg is-invalid") }}
              </div>
              <div class="invalid-feedback">
                  {% for error in bookingform.name.errors %}
                  <span style="display: block;">{{ error }}</span>
                  {% endfor %}
              </div>
              {% else %}
              <div class="outer-transition">
                  {{ bookingform.name(class="form-control form-control-lg mt-0") }}
              </div>
              {% endif %}
                </div>
</div>
    <div class="col-12  col-md-6">
                      <div class="form-group">
                {{ bookingform.phone.label(class="form-control-label") }}
                {% if bookingform.phone.errors %}
                <div class="outer-transition">
                {{ bookingform.phone(class="form-control           form-control-lg is-invalid") }}
              </div>
              <div class="invalid-feedback">
                  {% for error in bookingform.phone.errors %}
                  <span style="display: block;">{{ error }}</span>
                  {% endfor %}
              </div>
              {% else %}
              <div class="outer-transition">
                  {{ bookingform.phone(class="form-control form-control-lg mt-0") }}
              </div>
              {% endif %}
                </div>
</div>
</div>
<div class="row">
<div class="col-12  col-md-6">
<div class="form-group">
  {{ bookingform.email.label(class="form-control-label") }}
  {% if bookingform.email.errors %}
  <div class="outer-transition">
  {{ bookingform.email(class="form-control           form-control-lg is-invalid") }}
</div>
<div class="invalid-feedback">
    {% for error in bookingform.email.errors %}
    <span style="display: block;">{{ error }}</span>
    {% endfor %}
</div>
{% else %}
<div class="outer-transition">
    {{ bookingform.email(class="form-control form-control-lg mt-0") }}
</div>
{% endif %}
  </div>
  </div>

  <div class="col-12  col-md-6">
      <div class="form-group">
                {{ bookingform.date.label(class="form-control-label") }}
                {% if bookingform.date.errors %}
                <div class="outer-transition">
                {{ bookingform.date(class="form-control           form-control-lg is-invalid") }}
              </div>
              <div class="invalid-feedback">
                  {% for error in bookingform.date.errors %}
                  <span style="display: block;">{{ error }}</span>
                  {% endfor %}
              </div>
              {% else %}
              <div class="outer-transition">
                  {{ bookingform.date(class="form-control form-control-lg mt-0", max="2030-06-14") }}
              </div>
              {% endif %}
                </div>
    </div>
    </div>
    <div class="col-12" style="padding: 0px;">
      <div class="form-group">
        {% if bookingform.message.errors %}
        <div class="outer-transition">
        {{ bookingform.message(class="form-control           form-control-lg is-invalid") }}
      </div>
      <div class="invalid-feedback">
          {% for error in bookingform.message.errors %}
          <span style="display: block;">{{ error }}</span>
          {% endfor %}
      </div>
      {% else %}
      <div class="outer-transition">
        {{ bookingform.message(class="form-control form-control-lg mt-0" , style="height: 80px;", placeholder=bookingform.message.label.text) }}
      </div>
      {% endif %}
        </div>                </div>    
    {{ bookingform.submit(class="button gradient-bg", style="width: -moz-available;width: -webkit-fill-available; ", type="submit") }}
  </fieldset>
    {{ bookingform.csrf_token }}
  </form>
</div>

</div>
<!-- Booking card -->
          </div>
          

          <div class="col-lg-6 col-md-6 d-flex align-items-stretch">

            <!-- Booking card -->
<div class="card booking-card mt-2 mb-4" style="width: -moz-available;width: -webkit-fill-available; " >

  <!-- Card image -->    


  <!-- Card content -->
  <div class="card-body" style="{{add_style_if_ar('direction: rtl;text-align: right;', 'direction: ltr;text-align: left;')}}">

    <!-- Title -->
    <h4 class="card-title font-weight-bold mb-4"><a>{{_('What we do At Amana Clinic')}}</a></h4>
    <!-- Data -->

    <!-- Text -->
    <p class="card-text">{{add_style_if_ar(info.Introduction_ar, info.Introduction_en)}}</p>
    <footer class="entry-footer">
      <a href="#">{{_('read more')}}</a>
  </footer>
  </div>

</div>
<!-- Booking card -->
          </div>

          <div class="col-lg-6 col-md-6 d-flex align-items-stretch">

            <!-- Booking card -->
<div class="card booking-card mt-2 mb-4 " style="width: -moz-available;width: -webkit-fill-available; ">

  <!-- Card image -->


  <!-- Card content -->
  <div class="card-body" style="{{add_style_if_ar('direction: rtl;text-align: right;', 'direction: ltr;text-align: left;')}}">
    <p class="card-title font-weight-bold mb-4">{{_('Stats')}}</p>
          
    <div class="container">
      <div class="stats">
        <div class="clientrev">
          <span>+11000</span>
          <p>{{_('Successful Surgeries')}}</p>
        </div>
        <div class="adspend">
          <span>+15000</span>
          <p>{{_('patients')}}</p>
        </div>
    
        <div class="roi">
          <span>+23</span>
          <p>{{_('Years of Experience')}}</p>
        </div>
        <div class="maus" style="display: none;">
          <span>122</span>
          <p>{{_('Successful LHP')}}</p>
        </div>
      </div>
    </div>
  </div>

</div>
<!-- Booking card -->
          </div>

      </div>
    </div>
    </section>


</main>


{% endblock content %}